<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="crm_app">

	<test name="Testng_DataProvider" parallel="tests">
	
	
	
	<classes>
	
	<class name="Testng_DataProvider.Demo_parallelTesting"></class>
	
	</classes>
	
	</test>
  
</suite> <!-- Suite -->
